/* 
ORDEN PARA PONER LAS REGLAS DE CSS:
  1. POSICIONAMIENTO --> static, absolute, relative, fixed
  2. MODELO DE CAJA (BOX MODEL) --> margin, border, padding, content  
  3. TIPOGRAFIA --> tipos, tamaños de fuente, etc
  4. VISUALES --> box-shadow, border-radius, gradient, etc
  5. OTROS --> reglas CSS y más
*/

/* RESETEAR CSS Y VALORES PREDETRMINADOS */

:root {
  /* COLORES */
  --primary-color: #333;
  --secundary-color: #ccc;
  --white: #fff;
  /* FUENTES */
  --principal-font: sans-serif;
  --secundary-font: sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
}

html {
  font-size: 62.5%;
  /* PARA USAR MAS FACIL REM -> 1rem = 10px */
  font-family: var(--principal-font);
}

ul,
ol {
  list-style: none;
}

body {
  /* background-color: #fff52d; */
  /* background: linear-gradient(yellow, orange); */
  /* background-color: #191919; */
  height: 100vh;
}

/*/////////////////////////*/
header {
  background-color: darkorchid;
  position: relative;
}

.header-main {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--white);
}

.logo {
  color: var(--white);
  transition: all 300ms;
  letter-spacing: 1px;
}

.logo:hover {
  letter-spacing: 6px;
}

/* ///////////////////////// */

.ir {
  background-color: aqua;
  width: 15rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 5px;
  background-color: crimson;
  background: linear-gradient(-45deg, #ff95f1, #3733fd);
  color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.681);
  margin-top: 15px;
}
.ir a {
  color: white;
}
.contenedor-links {
  display: flex;
  /* background-color: crimson; */
}

.contenedor-links:hover .links {
  display: flex;
}

/* ///////////////////////// */

.icono {
  flex-direction: column;
  justify-content: space-between;
  width: 3rem;
  height: 3rem;
  display: flex;
}

.icono div {
  background-color: rgb(255, 255, 255);
  height: 0.3rem;
  width: 100%;
}

/* ///////////////////////// */

.links {
  background-color: #444;
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 180px;
  display: none;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

/* ALAN77777777 EDITS */

.links a {
  color: lightcyan;
  text-decoration: none;
}

.links a:hover {
  color: lightblue;
}

/* ///////////////////////// */

@media (min-width: 350px) {
  .icono {
    display: none;
  }
  .links {
    display: flex;
    flex-direction: row;
    position: initial;
    height: max-content;
    width: auto;
    padding: 0;
    background-color: rgba(127, 255, 212, 0);
  }
}

a {
  color: lightcyan;
  text-decoration: none;
  font-weight: 700;
  transition: all 150ms;
}

a:hover {
  color: lightblue;
  cursor: pointer;
}
.link-bloc {
  color: black;
}

.boton-new {
  background-color: #ffb2f5;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 10px;
  border: none;
  border: 3px solid black;
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bold;
  color: white;
  background-color: rgb(67, 189, 255);
  color: black;
  position: relative;
}
.boton-new:hover {
  background-color: #4d3dc4;
  color: white;
}
.boton-new:hover {
  animation: darlavuelta infinite 1s;
}
.boton-new span {
  background-color: coral;
  position: absolute;
  width: 30px;
  height: 30px;
}
@keyframes darlavuelta {
  from {
    background-color: aqua;
  }
  to {
    background-color: #ff95f1;
  }
}
.contenedor-archivos {
  background-color: rgb(255, 173, 173);
  background: linear-gradient(#a18cd1, #fbc2eb);
  width: max-content;
  height: max-content;
  margin-left: 10px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.103);
}
.contenedor-archivos > div {
  background-color: rgb(255, 152, 152);
  background-color: white;
  border: 3px solid black;
  /* background: linear-gradient(white, rgb(195, 195, 195)); */
  padding: 10px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
}
.contenedor-archivos > div a {
  color: black;
  font-weight: 600;
  font-size: 20px;
}
.contenedor-archivos > div:hover {
  background-color: rgb(217, 255, 212);
  color: white;
}

.rainbow-button {
  margin: 20px 10px;
  width: 215px;
  height: 55px;
  background: radial-gradient(red, rgb(169, 169, 255));
  background-image: linear-gradient(
    90deg,
    hsl(179, 100%, 75%),
    #ff9fb7,
    #ffeb85 0%,
    #a7ff7b 49%,
    #7bf1a8 80%,
    #226f54 100%
  );
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}
.rainbow-button:after {
  content: attr(alt);
  width: 200px;
  height: 40px;
  background-color: #191919;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rainbow-button:hover {
  animation: slidebg 2s linear alternate infinite;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
    transform: rotateZ(0deg);
  }
}
