* {
  font-size: 2rem;
}
body {
  zoom: 110%;
}
h1 {
  font-size: 4rem;
}
.contenedor {
  max-width: 700px;
}

.contenedor-tareas {
  flex-direction: row;
  flex-wrap: wrap;
}
.contenedor-tareas article {
  max-width: 100%;
  flex: 1;
}
.nota-nueva .contenedor-botones {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.contenedor-botones button {
  max-width: 200px;
}

.seccion-escribir {
  padding: 2.5rem 4rem;
}

.seccion-tareas {
  padding: 4rem;
}
.texto {
  font-size: 2.5rem;
  height: 6rem !important;
}
.contenido {
  font-size: 2.3rem;
}
