*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* TODO ESTOS DISEÑOS SON TEMPORALES SE PUEDEM CAMBIAR. */
body{
  text-align: center;
}
.links{
  display: flex;
  flex-direction: column;
  gap:  .5rem;
  margin-top: 1rem;
}
.section__blocContainer{
  border:  1px black dashed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
}

.section__blocContainer > p {
  margin: 0;
  background: transparent;
  padding: 0;
  border: none;
}


.section__blocContainer > p {
  --border-right: 6px;
  --text-stroke-color: black;
  --animation-color: red;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
.section__blocContainer > p:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}
.textBloc{
  width: 500px;
  height: 200px;
  padding: .5rem;
}