/* 
1. POSICIONAMIENTO --> static, absolute, relative, fixed
2. MODELO DE CAJA (BOX MODEL) --> margin, border, padding, content
3. TIPOGRAFIA --> tipos, tamaños de fuente, etc
4. VISUALES --> box-shadow, border-radius, gradient, etc
5. OTROS --> reglas CSS y más
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}
html {
  font-size: 62.5%; /* PARA USAR -> 1rem = 10px */
  font-family: sans-serif;
}
ul,
ol {
  list-style: none;
}
/*/////////////////////////*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
main .caja {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  width: 90%;
  max-width: 400px;
  height: max-content;
  padding: 20px;

  background-color: #333;
  border-radius: 1rem;
}
main .titulo {
  font-size: 3rem;
  text-align: center;
  color: white;
}

main form {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

main form input,
button {
  background-color: #ddd;
  border-radius: 1rem;
  padding: 1rem 2rem;
  color: black;
  font-size: 2rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
button {
  background-color: rgb(40, 35, 201);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
button:hover {
  background-color: rgb(91, 87, 191);
}
.contenedor-ayuda {
  text-align: center;
}
.contenedor-ayuda .ayuda {
  color: white;
}
.contenedor-ayuda .ayuda a {
  color: rgb(199, 187, 249);
  text-decoration: none;
}
.contenedor-ayuda .ayuda a:hover {
  color: rgb(110, 114, 230);
}
