@import url("/css/bloc-css/header-block.css");
/* 
ORDEN PARA PONER LAS REGLAS DE CSS:
  1. POSICIONAMIENTO --> static, absolute, relative, fixed
  2. MODELO DE CAJA (BOX MODEL) --> margin, border, padding, content  
  3. TIPOGRAFIA --> tipos, tamaños de fuente, etc
  4. VISUALES --> box-shadow, border-radius, gradient, etc
  5. OTROS --> reglas CSS y más
*/


/* RESETEAR CSS Y VALORES PREDETRMINADOS */

:root {
  /* COLORES */
  --primary-color: #333;
  --secundary-color: #ccc;
  --white: #fff;
  /* FUENTES */
  --principal-font: sans-serif;
  --secundary-font: sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
}

html {
  font-size: 62.5%;
  /* PARA USAR MAS FACIL REM -> 1rem = 10px */
  font-family: var(--principal-font);
}

ul,
ol {
  list-style: none;
}

body{
  background-color: #fff52d;
}

/*/////////////////////////*/
.section__textarea--bloc{
  width: 100%;
  display: flex;
  flex-direction: column;

}
.section__header--bloc{
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.titulo--bloc input{
  width: 250px;
  height: 30px;
  background-color: transparent;
  padding: .5rem;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}
.titulo--bloc input::selection{
  color: var(--secundary-color);
  background-color: var(--secundary-color);
}
.button__header--guardar{
  width: 70px;
  height: 35px;
  border-radius: 7px;
  margin-right: 1rem;
  color: var(--secundary-color);
  background-color: var(--primary-color);
  
}

.textarea-bloc{
  width: 100%;
  height: calc(100vh - 92px);
  padding: 1rem;
  color: white;
  background-color: #374955;

}
.textarea-bloc::selection{
  color: var(--secundary-color);
  background-color: var(--secundary-color);
}
.activar{
  background-color: wheat;
}









@media screen and ( min-width: 735px ) {
  .textarea-bloc{
    width: 80%;
  }
}